.brand {

  &__content {
    padding: 55px 83px;
    text-align: center;
    &-title {
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 56px;
    }
    &-row {
      display: flex;
      column-gap: 107px;
    }
    &:hover {
      background: rgba(44, 53, 61, 0.2);
      backdrop-filter: blur(50px);
      border-radius: 25px;
    }
  }
}