.popup{
  padding: 60px 0;
  width: 100%;
  max-width: 850px;
  background: #F9F9F9;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  position: relative;
  &__form{
    display: none;
    width: 100%;
    max-width: 320px;
    text-align: center;
  }
  &__title{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #191919;

  }

  &__subtitle{
    font-family: 'SF Pro Text',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #191919;
    margin: 16px 0 20px;
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 8px;
  }
  &__label{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #A5A5A5;
  }
  &__field{
    width: 100%;
    background: #FFFFFF;
    height: 48px;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    padding-left: 15px;
  }
  &__info{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #191919;
    opacity: 0.4;
  }
  &__close{
    position: absolute;
    top: 0;
    right: -62px;
    cursor: pointer;
  }
  &__form_login.active{
    display: block;
  }
  &__form_signup.active{
    display: block;
  }
}