@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #1E252B;
}

.container {
  width: 100%;
  max-width: 1264px;
  padding: 0 20px;
  margin: 0 auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  border: none;
  background: transparent;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.78);
  cursor: pointer;
  padding: 12px 28px;
  border-radius: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #FF6E30;
  color: #FDF5FF;
}

.home {
  padding: 104px 0 168px;
  position: relative;
}
.home::before {
  content: url("../images/home/homebg.png");
  position: absolute;
  bottom: 0;
  right: 0;
}

.title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.9);
}
.title_left {
  margin-bottom: 30px;
}
.title_center {
  text-align: center;
  margin-bottom: 25px;
}

.subtitle {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
}
.subtitle_left {
  margin-bottom: 60px;
}
.subtitle_center {
  text-align: center;
}

.form {
  width: 100%;
  max-width: 497.66px;
  position: relative;
}
.form__field {
  width: 100%;
  height: 64px;
  background: #283036;
  border-radius: 15px;
  border: none;
  padding-left: 55px;
  color: white;
  font-size: 18px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form__search {
  position: absolute;
  top: 20px;
  left: 18px;
}

.button {
  background: #FF6E30;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  color: #FFFFFF;
  border: none;
}
.button_form {
  padding: 12px 36px;
  position: absolute;
  top: 8px;
  right: 11px;
}
.button_popup {
  padding: 13px 0;
  width: 100%;
  margin: 29px 0 25px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(25, 25, 25, 0.4);
  -webkit-backdrop-filter: blur(32px);
          backdrop-filter: blur(32px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
.overlay_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  padding-top: 31px;
  position: relative;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 130px;
     -moz-column-gap: 130px;
          column-gap: 130px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55);
}
.header .burger {
  display: none;
  position: absolute;
  height: 40px;
  top: 35px;
  right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .burger__line {
  width: 40px;
  height: 2px;
  position: relative;
  background: white;
}
.header .burger__line::before {
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  top: -10px;
  left: 0;
  background: white;
}
.header .burger__line::after {
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  top: 10px;
  left: 0;
  background: white;
}

.logo__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 1200px) {
  .header__right {
    -webkit-column-gap: 90px;
       -moz-column-gap: 90px;
            column-gap: 90px;
  }
}
@media (max-width: 992px) {
  .header .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 51;
  }
  .header .burger_active .burger__line {
    background: transparent;
  }
  .header .burger_active .burger__line::before {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background: black;
  }
  .header .burger_active .burger__line::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background: black;
  }
  .header__right {
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    padding: 50px 100px;
    background: gray;
    row-gap: 40px;
    z-index: 50;
    border-bottom-left-radius: 20px;
  }
  .header__right .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
  }
  .header__right .header__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
  }
  .header__right_active {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 100;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.tools {
  padding: 200px 0;
}
.tools__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
  margin: 100px 0;
}
.tools__card {
  width: calc(33.33333% - 16.66666px);
  padding: 33px;
  position: relative;
}
.tools__card_hide {
  display: none;
}
.tools__card_hide.active {
  display: block;
}
.tools__card::before {
  content: "";
  width: 65px;
  height: 65px;
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.tools__card:hover {
  background: rgba(40, 48, 54, 0.6);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 15px;
}
.tools__card:hover::before {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: rgba(255, 110, 48, 0.6);
  -webkit-filter: blur(50px);
          filter: blur(50px);
}
.tools__card:hover .tools__card_btn {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #FF6E30;
  color: #FDF5FF;
}
.tools__card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
}
.tools__card-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.78);
  margin-bottom: 3px;
}
.tools__card-price {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 165, 55, 0.55);
}
.tools__card-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
  margin: 30px 0;
}
.tools__card-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tools__card-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.tools__more {
  background: #1E252B;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FF6E30;
  width: 184px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.tools__more:hover {
  background: #FF6E30;
  color: white;
}

.popup {
  padding: 60px 0;
  width: 100%;
  max-width: 850px;
  background: #F9F9F9;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.popup__form {
  display: none;
  width: 100%;
  max-width: 320px;
  text-align: center;
}
.popup__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #191919;
}
.popup__subtitle {
  font-family: "SF Pro Text", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #191919;
  margin: 16px 0 20px;
}
.popup__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 8px;
}
.popup__label {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #A5A5A5;
}
.popup__field {
  width: 100%;
  background: #FFFFFF;
  height: 48px;
  border: 1px solid #F0F0F0;
  border-radius: 6px;
  padding-left: 15px;
}
.popup__info {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #191919;
  opacity: 0.4;
}
.popup__close {
  position: absolute;
  top: 0;
  right: -62px;
  cursor: pointer;
}
.popup__form_login.active {
  display: block;
}
.popup__form_signup.active {
  display: block;
}

.brand__content {
  padding: 55px 83px;
  text-align: center;
}
.brand__content-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 56px;
}
.brand__content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 107px;
     -moz-column-gap: 107px;
          column-gap: 107px;
}
.brand__content:hover {
  background: rgba(44, 53, 61, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 25px;
}

.newcomer {
  padding: 220px 0;
}
.newcomer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 223px;
     -moz-column-gap: 223px;
          column-gap: 223px;
}
.newcomer__content-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.9);
}
.newcomer__content-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
  margin: 30px 0 60px;
}
.newcomer__content-btn {
  width: 198px;
  height: 58px;
  background: #FF6E30;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  border-radius: 8px;
  border: none;
}
.newcomer__content-left {
  width: 60%;
}
.newcomer__content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.newcomer__content-card {
  width: calc(50% - 12px);
  padding: 28px 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 50px;
}
.newcomer__content-card:hover {
  background: rgba(40, 48, 54, 0.6);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}
.newcomer__content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 34px;
     -moz-column-gap: 34px;
          column-gap: 34px;
}
.newcomer__content-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.78);
}
.newcomer__content-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 165, 55, 0.55);
}
.newcomer__content-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
  margin: 30px 0 30px;
}
.newcomer__content-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.newcomer__content-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.newcomer__content-footer-btn {
  width: 106px;
  height: 42px;
  background: transparent;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.newcomer__content-footer-btn:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #FF6E30;
  color: #FFFFFF;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider {
  padding-bottom: 250px;
}
.slider__content-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 57px;
     -moz-column-gap: 57px;
          column-gap: 57px;
  padding-bottom: 100px;
}
.slider__content-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.015em;
  color: rgba(255, 255, 255, 0.78);
  margin-top: 128px;
}

.swiper-pagination-bullet {
  background: #FFFFFF !important;
  border-radius: 4px !important;
  width: 44px !important;
  height: 8px !important;
}
.swiper-pagination-bullet-active {
  background: #FF6E30 !important;
}

.become {
  padding-bottom: 240px;
}
.become__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
.become__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.55);
  margin: 25px 0 100px;
}
.become__parent {
  width: 549px;
  position: relative;
  margin: 0 auto;
}
.become__input {
  width: 100%;
  height: 64px;
  background: #283036;
  border-radius: 15px;
  border: none;
  padding-left: 24px;
}
.become__btn {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 130.43px;
  height: 48px;
  background: #FF6E30;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.footer {
  padding: 70px 0 100px;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 156px;
     -moz-column-gap: 156px;
          column-gap: 156px;
}
.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 115px;
     -moz-column-gap: 115px;
          column-gap: 115px;
}
.footer__right-type {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
}
.footer__right-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55);
  margin-bottom: 10px;
}
.footer__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.9);
  margin: 34px 0 21px;
}
.footer__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.55);
}

.tabs {
  background: white;
  padding: 80px 0;
}
.tabs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.tabs__item_active {
  color: gold;
}
.tabs__content {
  display: none;
}
.tabs__content_active {
  display: block;
}

.goTop {
  position: fixed;
  bottom: 150px;
  right: 40px;
  background: red;
  color: white;
  padding: 15px;
  z-index: -10;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}
.goTop_active {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 100;
  z-index: 100;
}

.radio {
  background: green;
}

.romb {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border: 1px solid white;
  -webkit-transform: rotate(-45deg) skew(-30deg);
          transform: rotate(-45deg) skew(-30deg);
}

.telegram:hover svg {
  fill: green;
}