.tools{
  padding: 200px 0;
  &__row{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 100px 0;
  }
  &__card{
    width: calc(33.33333% - 16.66666px);
    padding: 33px;
    position: relative;
    &_hide{
      display: none;
      &.active{
        display: block;
      }
    }
    &::before{
      content: '';
      width: 65px;
      height: 65px;
      background: transparent;
      position: absolute;
      top: 0;
      right: 0;
      transition: .3s;
    }
    &:hover{
      background: rgba(40, 48, 54, 0.6);
      backdrop-filter: blur(50px);
      border-radius: 15px;
      &::before{
        transition: .3s;
        background: rgba(255, 110, 48, 0.6);
        filter: blur(50px);
      }
      .tools__card_btn{
        transition: .3s;
        background: #FF6E30;
        color: #FDF5FF;
      }
    }
    &-top{
      display: flex;
      column-gap: 35px;
    }
    &-title{
      font-family: 'Poppins',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      color: rgba(255, 255, 255, 0.78);
      margin-bottom: 3px;
    }
    &-price{
      font-family: 'Poppins',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: rgba(255, 165, 55, 0.55);
    }
    &-text{
      font-family: 'Poppins',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      color: rgba(255, 255, 255, 0.55);
      margin: 30px 0;
    }
    &-end{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-icons{
      display: flex;
      column-gap: 20px;
    }
  }
  &__more {
    background: #1E252B;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FF6E30;
    width: 184px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    &:hover {
      background: #FF6E30;
      color: white;
    }
  }

}